Repository huynhducduy/react-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc --noemit, prettier --write

update tsconfig, alias config
  README.md
  tsconfig.json
  tsconfig.tsbuildinfo
Due: eslint --fix, tsc --noemit

add test:coverage command, tunning test command
  package.json
Due: eslint --fix, tsc --noemit

enable tailwindcss is now an option
  .env.example
  cypress/fixtures/example.json
  package.json
  postcss.config.js
  src/styles/index.scss
  yarn.lock
Due: eslint --fix, tsc --noemit, prettier --write

fix buildComponentTree
  src/utils/buildComponentTree.tsx
  src/utils/md5.ts
Due: eslint --fix, tsc --noemit

update composeComponents util
  src/App.tsx
  src/utils/buildComponentTree.tsx
  src/utils/composeComponents.tsx
Due: eslint --fix, tsc --noemit

update
  src/utils/composeComponents.tsx
Due: eslint --fix, tsc --noemit

Add license scan report and status
  README.md
Due: none

switch to react-component-composer
  package.json
  src/App.tsx
  src/utils/composeComponents.tsx
  yarn.lock
Due: eslint --fix, tsc --noemit

force enable react-fresh
  config/env.js
Due: eslint --fix, tsc --noemit

Add support for new BUILD_PATH advanced configuration variable
  config/paths.js
Due: eslint --fix, tsc --noemit

Fix ICSS syntax in stylesheets (cra #10511)
  config/webpack.config.js
Due: eslint --fix, tsc --noemit

separate babelTransform
  config/jest/babelTransform.js
  jest.config.js
Due: eslint --fix, tsc --noemit

update eslintrc
  .eslintrc.js
Due: eslint --fix, tsc --noemit

update lint config
  .eslintrc.js
  package.json
  src/components/ConfirmComponent/index.tsx
  tsconfig.tsbuildinfo
  yarn.lock
Due: eslint --fix, tsc --noemit

switch to babel-preset-duy
  babel.config.js
  config/webpack.config.js
  package.json
  yarn.lock
Due: eslint --fix, tsc --noemit

update config of babel-preset-duy
  babel.config.js
Due: eslint --fix, tsc --noemit

switch to duy-react-srcipt
  babel-outside.config.js
  babel.config.js
  config/env.js
  config/getHttpsConfig.js
  config/jest/babelTransform.js
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  config/modules.js
  config/paths.js
  config/pnpTs.js
  config/webpack.config.js
  config/webpackDevServer.config.js
  jest.config.js
  package.json
  scripts/build.js
  scripts/start.js
  scripts/test.js
  tsconfig.tsbuildinfo
  yarn.lock
Due: eslint --fix, tsc --noemit

resolve dependencies
  package.json
  yarn.lock
Due: eslint --fix, tsc --noemit

Update README.md
  README.md
Due: none

install why-did-you-render
  package.json
  yarn.lock
Due: eslint --fix, tsc --noemit

Update fonts.scss
  src/styles/settings/fonts.scss
Due: prettier --write

eliminate circular dependencies
  src/utils/hooks/useConfirm/Provider.tsx
  src/utils/hooks/useConfirm/atom.ts
  src/utils/hooks/useConfirm/index.ts
  src/utils/hooks/useMetaData/atom.ts
  src/utils/hooks/useMetaData/hooks.ts
  src/utils/hooks/useMetaData/index.ts
Due: eslint --fix, tsc --noemit

upgrade to webpack-5 (experimental)
  package.json
  yarn.lock
Due: eslint --fix, tsc --noemit

update readme
  README.md
Due: none

update dependencies
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint --fix, tsc --noemit

update readme
  README.md
  src/styles/utilities/hidden.scss
  tailwind.config.js
Due: eslint --fix, tsc --noemit, prettier --write

add WDYR and TAILWIND options
  README.md
  src/index.tsx
  src/wdyr.ts
Due: eslint --fix, tsc --noemit

switch classnames to clsx
  README.md
  package.json
  yarn.lock
Due: eslint --fix, tsc --noemit

Update .eslintrc.js
  .eslintrc.js
Due: eslint --fix, tsc --noemit

small fix
  package.json
  src/views/Home/index.tsx
  src/views/Home/styles.module.scss
  yarn.lock
Due: eslint --fix, tsc --noemit, prettier --write

enable nomalize.css
  src/styles/index.scss
  src/views/Home/styles.module.scss
  yarn.lock
Due: prettier --write

upgrade prettier config
  prettier.config.js
  yarn.lock
Due: eslint --fix, tsc --noemit

update readme, scripts, add custom environment support
  .env.production.example
  .env.staging.example
  .vscode/launch.json
  .vscode/settings.json
  Dockerfile
  README.md
  package.json
  src/App.tsx
  yarn.lock
Due: eslint --fix, tsc --noemit

add msw support for mocking, react-query for manage state from the sky
  README.md
  package.json
  public/mockServiceWorker.js
  src/index.tsx
  src/mocks/browser.js
  src/mocks/handlers/index.js
  src/mocks/server.js
  src/setupTests.ts
  yarn.lock
Due: eslint --fix, tsc --noemit

remake router
  src/auth/refreshAuth.ts
  src/index.tsx
  src/mocks/handlers/index.js
  src/request/index.js
  src/request/index.ts
  src/router/index.jsx
  src/router/index.tsx
  src/router/routes/ConditionalRoute.js
  src/router/routes/ConditionalRoute.tsx
  src/router/routes/GuestRoute.js
  src/router/routes/GuestRoute.tsx
  src/router/routes/NormalRoute.js
  src/router/routes/PrivateRoute.tsx
  src/router/routes/PublicRoute.tsx
  src/router/routes/RedirectRoute.js
  src/router/routes/RedirectRoute.tsx
  src/router/routes/index.tsx
  src/setupTests.ts
  src/views/Home/index.tsx
  src/views/Login.tsx
Due: eslint --fix, tsc --noemit

make axios request cancelable
  README.md
  package.json
  src/request/index.ts
  src/router/index.tsx
  src/router/routes/ConditionalRoute.tsx
  yarn.lock
Due: eslint --fix, tsc --noemit

Update eslint config, breaking change
  .eslintrc.js
  .github/dependabot.yml
  .nvmrc
  Dockerfile
  Jenkinsfile
  README.md
  package.json
  src/index.tsx
  src/router/helpers/getPath.ts
  src/router/helpers/getPaths.ts
  src/views/Home/index.tsx
  yarn.lock
Due: eslint --fix, tsc --noemit

Path conditions:
  eslint --fix: any of: *.{js,jsx,mjs,ts,tsx,json}
  tsc --noemit: any of: *.{js,jsx,mjs,ts,tsx,json}
  prettier --write: any of: *.{scss,sass,css}
