Repository huynhducduy/react-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc --noemit, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,mjs,ts,tsx,json}": [
    "eslint --fix",
    "tsc --noemit",
    "git add"
  ],
  "*.{scss,sass,css}": [
    "prettier --write",
    "git add"
  ]
}

babel
  .eslintrc.js
  config/babel.config.js
  config/env.js
  config/getHttpsConfig.js
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  config/modules.js
  config/paths.js
  config/pnpTs.js
  config/webpack.config.js
  config/webpackDevServer.config.js
  package.json
  scripts/build.js
  scripts/start.js
  scripts/test.js
  src/index.tsx
  src/react-app-env.d.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, tsc --noemit

update config semi-final
  .eslintrc.js
  .lintstagedrc
  babel.config.js
  config/babel.config.js
  config/webpack.config.js
  lint-staged.config.js
  package.json
  scripts/test.js
  src/App.tsx
  src/index.scss
  src/index.tsx
  src/react-app-env.d.ts
  src/reportWebVitals.js
  src/router/index.js
  src/service-worker.js
  src/serviceWorkerRegistration.js
  src/setupTests.ts
  src/views/Home/index.tsx
  src/views/Login.tsx
  tailwind.config.js
  tsconfig.tsbuildinfo
  yarn.lock
Due: eslint --fix, tsc --noemit, prettier --write

update minor dependencies version
  package.json
  tsconfig.tsbuildinfo
  yarn.lock
Due: eslint --fix, tsc --noemit

updatge test debugger
  .vscode/launch.json
Due: eslint --fix, tsc --noemit

update
  .eslintrc.js
  package.json
  scripts/build.js
  scripts/start.js
  scripts/test.js
  tsconfig.json
  tsconfig.tsbuildinfo
  yarn.lock
Due: eslint --fix, tsc --noemit

config for eslint
  .eslintrc.js
  .prettierrc
  .vscode/settings.json
  config/paths.js
  config/webpack.config.js
  jest.config.js
  package.json
  postcss.config.js
  prettier.config.js
  src/index.tsx
  src/react-app-env.d.ts
  src/router/helpers/ConditionalRoute.js
  src/router/helpers/GuestRoute.js
  src/router/helpers/PrivateRoute.js
  src/router/helpers/Route.js
  src/router/index.js
  src/setupTests.ts
  src/utils/buildComponentTree.js
  src/views/Home/index.tsx
  tsconfig.json
  tsconfig.tsbuildinfo
  yarn.lock
Due: eslint --fix, tsc --noemit

upgrade build dependencies (except webpack + terser)
  config/webpack.config.js
  package.json
  yarn.lock
Due: eslint --fix, tsc --noemit

remove @typescript-eslint/parser as dependency but devdependency
  package.json
Due: eslint --fix, tsc --noemit

mode eslint cache to node_modules
  config/webpack.config.js
Due: eslint --fix, tsc --noemit

update readme
  README.md
Due: none

update readme
  README.md
  package.json
  yarn.lock
Due: eslint --fix, tsc --noemit

update route utils
  src/router/helpers/getRoute.js
  src/router/helpers/index.js
  src/router/index.js
  src/router/routes/ConditionalRoute.js
  src/router/routes/GuestRoute.js
  src/router/routes/NormalRoute.js
  src/router/routes/PrivateRoute.js
  src/router/routes/RedirectRoute.js
  src/router/routes/index.js
Due: eslint --fix, tsc --noemit

remove deprecated context api
  src/utils/deferComponentRender.js
Due: eslint --fix, tsc --noemit

remove unused auth helper
  src/auth/helpers/getRole.js
Due: eslint --fix, tsc --noemit

css to scss module
  src/views/Home/index.tsx
  src/views/Home/style.css
  src/views/Home/style.module.scss
Due: eslint --fix, tsc --noemit, prettier --write

update purgecss
  README.md
  package.json
  tailwind.config.js
Due: eslint --fix, tsc --noemit

add tailwind
  src/index.scss
Due: prettier --write

remove postcss-import in favor of css-loader
  postcss.config.js
Due: eslint --fix, tsc --noemit

add warn for recoil
  .eslintrc.js
Due: eslint --fix, tsc --noemit

refactor
  config/webpack.config.js
  public/index.html
  src/App.test.tsx
  src/App.tsx
  src/auth/constants.js
  src/auth/helpers/clearAuth.js
  src/auth/helpers/getAccessToken.js
  src/auth/helpers/getAccessTokenExpiresAt.js
  src/auth/helpers/getRefreshToken.js
  src/auth/helpers/index.js
  src/auth/helpers/index.test.js
  src/auth/helpers/isAuthenticated.js
  src/auth/helpers/setAccessToken.js
  src/auth/helpers/setAccessTokenExpiresAt.js
  src/auth/helpers/setRefreshToken.js
  src/auth/helpers/tokenExpiresIn.js
  src/auth/helpers/tokenIsAlmostExpired.js
  src/auth/helpers/tokenIsExpired.js
  src/auth/index.js
  src/index.tsx
  src/router/helpers/index.js
  src/router/index.js
  src/router/routes/RedirectRoute.js
  src/router/routes/index.js
  src/utils/is.js
  src/utils/localStorage.js
  src/utils/md5.js
  src/views/Home/index.tsx
  src/views/Login.tsx
  tsconfig.tsbuildinfo
Due: eslint --fix, tsc --noemit

always arrowParens
  prettier.config.js
  src/reportWebVitals.js
  src/request/index.js
  src/router/index.js
  src/router/routes/ConditionalRoute.js
  src/service-worker.js
  src/serviceWorkerRegistration.js
  src/utils/buildComponentTree.js
  tsconfig.tsbuildinfo
Due: eslint --fix, tsc --noemit

remove jic apt package in dockerfile
  Dockerfile
Due: none

--init with docker
  README.md
  docker-compose.yml
Due: none

update
  Dockerfile
Due: none

lint all files
  .eslintrc.js
  .github/ISSUE_TEMPLATE/bug_report.md
  babel.config.js
  config/env.js
  config/getHttpsConfig.js
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  config/modules.js
  config/paths.js
  config/pnpTs.js
  config/webpack.config.js
  config/webpackDevServer.config.js
  jest.config.js
  lint-staged.config.js
  postcss.config.js
  scripts/build.js
  scripts/start.js
  scripts/test.js
  tailwind.config.js
Due: eslint --fix, tsc --noemit

update badge
  README.md
Due: none

migrate to pnpm
  .gitignore
  pnpm-lock.yaml
  yarn.lock
Due: none

migrate to pnpm, vite for dev (production - test not yet finish)
  .eslintrc.js
  .gitignore
  .vscode/extensions.json
  README.md
  babel.config.js
  config/modules.js
  index.html
  package.json
  pnpm-lock.yaml
  public/index.html
  src/config.ts
  src/index.css
  src/index.tsx
  src/router/index.jsx
  src/router/routes/ConditionalRoute.jsx
  src/router/routes/GuestRoute.jsx
  src/router/routes/NormalRoute.jsx
  src/router/routes/PrivateRoute.jsx
  src/router/routes/RedirectRoute.jsx
  src/utils/ErrorBoundary.jsx
  src/utils/buildComponentTree.jsx
  src/utils/deferComponentRender.js
  src/views/Home/index.tsx
  src/views/Home/style.module.css
  tsconfig.json
  tsconfig.tsbuildinfo
  vite.config.js
Due: eslint --fix, tsc --noemit, prettier --write

remove stage 4 proposals
  babel.config.js
Due: eslint --fix, tsc --noemit

add babel optimization
  babel.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, tsc --noemit

update dependency, various config
  .eslintrc.js
  .gitignore
  .husky/.gitignore
  README.md
  babel.config.js
  package.json
  src/App.tsx
  src/views/Home/index.tsx
  src/views/Login.tsx
  yarn.lock
Due: eslint --fix, tsc --noemit

workaround for jest test runner
  README.md
  babel.config.js
  config/getHttpsConfig.js
  config/jest/viteTransform.js
  config/modules.js
  config/pnpTs.js
  config/webpack.config.js
  config/webpackDevServer.config.js
  jest.config.js
  package.json
  pnpm-lock.yaml
  scripts/build.js
  scripts/start.js
  src/App.test.tsx
  src/config.ts
  src/views/Home/index.tsx
Due: eslint --fix, tsc --noemit

add support for .pcss files
  config/webpack.config.js
Due: eslint --fix, tsc --noemit

.pcss file association for vscode
  .vscode/settings.json
Due: eslint --fix, tsc --noemit

switch from precss to sass-loader (due to the complexity of configuration and difficulty in coding syntax)
  .deepsource.toml
  .vscode/settings.json
  README.md
  config/webpack.config.js
  jest.config.js
  lint-staged.config.js
  package.json
  postcss.config.js
  tailwind.config.js
  yarn.lock
Due: eslint --fix, tsc --noemit

faster sass with fiber
  README.md
  config/webpack.config.js
  package.json
  yarn.lock
Due: eslint --fix, tsc --noemit
