Repository huynhducduy/react-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc --noemit, prettier --write

fix flexbugs with postcss
  package.json
  postcss.config.js
Due: eslint --fix, tsc --noemit

remove postcss-normalize due to support of tailwindcss
  package.json
  postcss.config.js
  yarn.lock
Due: eslint --fix, tsc --noemit

update style structure
  src/index.tsx
  src/styles/elements/_.scss
  src/styles/elements/link.scss
  src/styles/generics/_.scss
  src/styles/generics/customize.scss
  src/styles/index.scss
  src/styles/settings/_.scss
  src/styles/settings/colors.scss
  src/styles/settings/fonts.scss
  src/styles/utilities/_.scss
  src/styles/utilities/hidden.scss
  src/views/Home/style.module.scss
Due: eslint --fix, tsc --noemit, prettier --write

update
  package.json
  tsconfig.tsbuildinfo
  yarn.lock
Due: eslint --fix, tsc --noemit

update
  config/webpack.config.js
  src/styles/elements/_index.scss
  src/styles/generics/_.scss
  src/styles/generics/_index.scss
  src/styles/index.scss
  src/styles/settings/_.scss
  src/styles/settings/_index.scss
  src/styles/utilities/_.scss
  src/styles/utilities/_index.scss
  src/styles/utilities/hidden.scss
  src/views/Home/style.module.scss
  tailwind.config.js
Due: eslint --fix, tsc --noemit, prettier --write

don't generate source map
  .env.example
Due: none

waitAtLeast util
  src/utils/waitAtLeast.ts
Due: eslint --fix, tsc --noemit

add wdyr
  README.md
  babel.config.js
  package.json
  src/index.tsx
  src/views/Home/index.tsx
  src/views/Home/style.module.scss
  src/wdyr.ts
  yarn.lock
Due: eslint --fix, tsc --noemit, prettier --write

add toast utils
  package.json
  src/index.tsx
  src/styles/index.scss
  src/utils/hooks/usePrevious.js
  src/utils/toast/Message.tsx
  src/utils/toast/Provider.tsx
  src/utils/toast/index.ts
  src/views/Home/index.tsx
  yarn.lock
Due: eslint --fix, tsc --noemit, prettier --write

add useConfirm hooks
  src/components/ConfirmComponent.tsx
  src/index.tsx
  src/utils/hooks/useConfirm/Provider.tsx
  src/utils/hooks/useConfirm/index.ts
  src/views/Home/index.tsx
Due: eslint --fix, tsc --noemit

update readme
  README.md
  src/utils/hooks/useConfirm/index.ts
  src/views/Home/index.tsx
Due: eslint --fix, tsc --noemit

remove uneccesary memo
  src/components/ConfirmComponent.tsx
  src/utils/hooks/useConfirm/Provider.tsx
  src/utils/toast/Provider.tsx
Due: eslint --fix, tsc --noemit

update type
  src/components/ConfirmComponent.tsx
  src/utils/ErrorBoundary.js
  src/utils/ErrorBoundary.tsx
  src/utils/hooks/useConfirm/Provider.tsx
  src/utils/hooks/useConfirm/index.ts
  src/utils/toast/Message.tsx
  src/utils/toast/Provider.tsx
  src/views/Login.tsx
Due: eslint --fix, tsc --noemit

fix typo
  src/endpoints.ts
  src/reportWebVitals.ts
  src/router/routes/ConditionalRoute.js
Due: eslint --fix, tsc --noemit

meta data utils
  .env.example
  package.json
  public/index.html
  src/config.ts
  src/index.tsx
  src/utils/hooks/useMetaData/Provider.tsx
  src/utils/hooks/useMetaData/defaultValues.ts
  src/utils/hooks/useMetaData/index.ts
  src/views/Home/index.tsx
  yarn.lock
Due: eslint --fix, tsc --noemit

add recoil debug observer
  src/store/DebugObserver.tsx
  src/store/index.ts
  src/store/index.tsx
Due: eslint --fix, tsc --noemit

add more meta values
  src/utils/hooks/useMetaData/defaultValues.ts
Due: eslint --fix, tsc --noemit

fix issues, using useLayoutEffect instead of useEffect
  src/utils/deferComponentRender.tsx
Due: eslint --fix, tsc --noemit

update localStorage util
  src/utils/localStorage.ts
Due: eslint --fix, tsc --noemit

add auth updater
  src/auth/AuthUpdater.tsx
  src/auth/atom.ts
  src/index.tsx
Due: eslint --fix, tsc --noemit

add cypress e2e
  .eslintrc.js
  .gitignore
  cypress.json
  cypress/integration/init.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  cypress/tsconfig.json
  package.json
  yarn.lock
Due: eslint --fix, tsc --noemit

migrate to @testing-library due to unmaintained of enzyme
  package.json
  src/App.test.tsx
  src/App.tsx
  src/index.tsx
  src/router/routes/ConditionalRoute.js
  src/setupTests.ts
  src/utils/is.js
  yarn.lock
Due: eslint --fix, tsc --noemit

add user-event tesing lib
  package.json
  yarn.lock
Due: eslint --fix, tsc --noemit

config eslint for testing-library
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint --fix, tsc --noemit

add hooks testing lib
  package.json
  yarn.lock
Due: eslint --fix, tsc --noemit

fix jest config
  jest.config.js
  package.json
  yarn.lock
Due: eslint --fix, tsc --noemit

introducing typeguard for recoil default value
  src/utils/hooks/useMetaData/index.ts
  src/utils/recoil/guardDefaultValue.ts
Due: eslint --fix, tsc --noemit

add i18n
  package.json
  src/App.tsx
  src/i18n/index.ts
  src/i18n/lang/en.js
  src/views/Home/index.tsx
  yarn.lock
Due: eslint --fix, tsc --noemit

support code splitting
  .vscode/settings.json
  package.json
  src/components/LanguageChanger/index.tsx
  src/i18n/index.js
  src/i18n/index.ts
  src/i18n/lang/en.js
  src/i18n/locales/en.json
  src/i18n/locales/index.ts
  src/i18n/locales/vi.json
  src/styles/index.scss
  src/views/Home/index.tsx
  yarn.lock
Due: eslint --fix, tsc --noemit, prettier --write

update readme
  README.md
Due: none

placeholder for ssr
  .vscode/settings.json
  package.json
  server/index.js
  yarn.lock
Due: eslint --fix, tsc --noemit

update issues
  README.md
Due: none

fix typo
  README.md
Due: none

update vscode settings
  .vscode/settings.json
Due: eslint --fix, tsc --noemit

yeah we should ignore .idea
  .gitignore
Due: none

add missing features
  babel.config.js
  package.json
  yarn.lock
Due: eslint --fix, tsc --noemit

help webpack resolve typescript paths
  config/webpack.config.js
  package.json
  yarn.lock
Due: eslint --fix, tsc --noemit

resolve react warning
  src/components/LanguageChanger/index.tsx
Due: eslint --fix, tsc --noemit

resolve module base on tsconfig baseSrc and paths
  README.md
  config/webpack.config.js
  jest.config.js
  package.json
  yarn.lock
Due: eslint --fix, tsc --noemit

Path conditions:
  eslint --fix: any of: *.{js,jsx,mjs,ts,tsx,json}
  tsc --noemit: any of: *.{js,jsx,mjs,ts,tsx,json}
  prettier --write: any of: *.{scss,sass,css}
